.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(to bottom, #7850fb, #df8eea); 
  height: 100vh;
}

.thinText {
  font-weight: 300;
  display: inline;
}

.card {
  background-color: white;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  padding: 0 20px;
  margin: 20px;
  width: 385px;
  height: 550px;
}

.result_button {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
}